<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <title>Fender</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.ico') %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= Rails.env.production? ? javascript_pack_tag('application') : javascript_packs_with_chunks_tag('application') %>
    <%= stylesheet_pack_tag 'application' %>

    <%= react_component("app/Header", {
      sign_in_action: user_session_url,
      sign_out_action: destroy_user_session_url,
      signed_in: user_signed_in?
    }) %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </head>

  <body>
    <%= yield %>
    <script>ReactRailsUJS.mountComponents()</script>
  </body>
  
  <footer>
    <%= react_component("app/Footer", {
      queue_url: api_v1_queue_index_path, 
      home_url: enqueue_index_path, 
      info_url: info_index_path,
      admin_url: "",
      signed_in: user_signed_in?
    }) %>
  </footer>
</html>
